.banner {width: 100%;}

main{
    width: 80%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
    clear: both;
}
.sobre p {margin: 0 0 1em;}
.sobre strong {font-weight: bold;}
.sobre em {font-style: italic;}

.img-beneficios {width: 60%;}

.img-utensilios{
    width: 150px;
    float: left;
    border-radius: 3px; 
    margin: 0 20px 20px 0;
}