body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: black;
    padding: 25px 0;    
}

.cabecalho{
    width: 75%;
    position: relative;
    margin: 0 auto;
}

.cabecalho nav li{
    display: inline;
    margin-right: 20px;
}

.cabecalho nav a{    
    text-transform: uppercase;  
    color: #ffffff86;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: none;
    padding: 10px;
    border: 2px solid black;
}

.cabecalho nav a:hover{
    border: 2px solid gray;
    border-radius: 10px;    
    color: #FFFFFF;
}

.cabecalho nav{
    position: absolute;
    top: 110px;
    right: 0;
}

footer{
    text-align: center;
    background-image: url("../images/bg.jpg");
    padding: 10px 0;
    clear: both;
    
}
.copyright{
    color: white;
    font-size: 13px;
    margin: 20px 0;
}
@media screen  and (max-width: 480px){
    h1{
        text-align: center;
        display: block;
    }
    .cabacalho nav{
        position: static;
    }
    .lista-beneficios, .img-beneficios{
        width: 100%;
    }
    .lista-beneficios{
        padding-bottom: 2em;
    }
    .video{
        width: 100%;
        
    }
    
}

